* {
  animation:1s navIn
}

.content {
  padding-top:70px;
  font-family:arial, sans-serif ;
}

h1 {
  display:inline-block;
  margin:0;
  color:var(--th2);
  background-color:var(--th)
}

.slideshow-container {
  max-width: 30%;
  min-width:440px;
  position: relative;
  margin: auto;
  margin-bottom:30px;
  border-radius:50px;
  background-color:rgba(0,0,0,0.2);
}

.slide {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width:20px;
  margin:4px;
  margin-top:-22px;
  padding: 14px;
  color: gray;
  border-radius:80px;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  transition: 0.3s;
}

.prev {
  left:0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  color:white;
  transform:scale(1.1,1.1);
  background-color:var(--btnbg);
  border-radius:500px;
}

.prev:active, .next:active {
  transform:scale(1,1);
}

.numbertext {
  position:absolute;
  text-align:center;
  width:100%;
  color: var(--th);
  font-size: 24px;
  font-weight:700;
  padding: 8px 0;
  bottom: -38px;
}

.fade {
  animation: fade 0.5s cubic-bezier(.25,.2,.2,1)
}

@keyframes fade {
  from {opacity: 0; transform:translate(0,7px)};
  to {opacity: 1}
}

#sd {
  background-color:var(--th3);
  font-size:27px;
}

span {
  color:var(--th);
  line-height:30px;
  font-size:19px;
}

span a {
  color:var(--th);
  font-weight:600;
}

.btn {
  padding-left:80px;
  padding-right:80px;
  cursor:pointer;
}

form {
  text-align:center;
}

select {
  width:250px;
  font-size:18px;
  font-family:arial;
  border:none;
  color:var(--th);
  background-color:var(--thx1);
  padding:10px;
  box-shadow:0 0 10px #00000000;
  border:2px solid var(--th);
  transition:0.3s;
}

select:hover {
  border:2px solid var(--th2);
  background-color:var(--thx2);
  color:var(--th2);
  box-shadow:0 0 10px var(--th)
}

select:focus {
  background-color:var(--thx2);
  color:var(--th2);
  box-shadow:0 0 20px var(--ogx);
}

select { /*Removes default arrow because it's ugly*/
  appearance:none;
  -moz-appearance: none;
  -o-appearance:none;
  -webkit-appearance: none;
  text-overflow:'';
}

.fa-caret-right { /*New arrow*/
  font-size:25px;
  position:absolute;
  height:0;
  margin-left:-25px;
  margin-top:12px;
  color:var(--th);
  transition:0.3s;
}

#bselect {
  display:inline-block;
  margin:14px;
}

#bselect:hover .fa-caret-right {
  color:var(--th2);
}

@media only screen and (orientation:portrait) {
  .slideshow-container {
    min-width:90%;
  }
  
  .prev, .next {
    color:var(--th);
    background-color:var(--btnbg);
  }

  .prev:hover, .next:hover {
    color:var(--th);
    transform:scale(1.1,1.1);
    background-color:var(--btnbg);
    border-radius:500px;
  }
}